// Place SASS variable overrides here
// $font-size-root: 18px;

$color-primary: #673ab7;
$color-dark-primary: #512da8;
$color-primary-text: #212121;
$color-light-primary: #d1c4e9;
$color-accent: #e040fb;
$color-text: #ffffff;
$color-secondary-text: #757575;
$color-divider: #bdbdbd;
