@import "variables.scss";

.color-primary {
    color: $color-primary;
}
.color-dark-primary {
    color: $color-dark-primary;
}
.color-primary-text {
    color: $color-primary-text;
}
.color-light-primary {
    color: $color-light-primary;
}
.color-accent {
    color: $color-accent;
}
.color-text {
    color: $color-text;
}
.color-secondary-text {
    color: $color-secondary-text;
}
.color-divider {
    color: $color-divider;
}
